<!DOCTYPE html>
<html>
    
    <head>
        <title>{{this.globals.get.category | capitalize}} Vehicles</title>
        <meta name="description" content="" />
    </head>
    
    <body>        
        {module_webapps id="30409" filter="all" template="" collection="vehicles"}   
        {module_json,json="/_System/apps/cbo-vehicle-search-engine/_config/vse.json" collection="settings"}
        {% assign vpp = settings.enable_vehicles_per_page %}
        {% assign vlg = settings.enable_view_list_grid %}
        <section class="row">
            <h2 class="hide">Vehicle Listing</h2>
            <!-- ========================== -->
            <!-- Start Search Form Section -->
            <!-- ========================== -->
            <div class="large-3 medium-4 small-12 columns search-wrapper">
                {% include "/_System/Includes/vse-v2/vse-search-form.html" -%}
            </div>
            <!-- ========================== -->
            <!-- End Search Form Section -->
            <!-- ========================== -->
            
            <div class="large-9 medium-8 small-12 columns">
                <!-- ========================== -->
                <!-- Start Sorting Section -->
                <!-- ========================== -->
                <div class="row hide-for-small-only">
                    <div class="large-12 medium-12 small-12">
                        <div class="{% if vlg == 'true' %}large-3{%else%}large-4{%endif%} {% if vpp == 'true' %}medium-12{%else%}medium-6{%endif%} small-12 columns margintop20-small vse-num-results">
                            <b class="result-show">Showing All Results</b>
                        </div>
                        <div class="{% if vlg == 'true' %}large-3 medium-5{%else%}large-4 medium-6{%endif%} small-12 columns margintop20-small">
                            <label>Sort by:
                            <select name="sortingdata" class="sortingdata" data-control-type="sort-select" data-control-name="sort" data-control-action="sort">
                                <option value="" class="defaultset">- Select -</option>
                                <option value="pricelh">Price (low to high)</option>
                                <option value="pricehl">Price (high to low)</option>
                                <option value="yrl">Year (low to high)</option>
                                <option value="yrh">Year (high to low)</option>
                            </select> </label>
                        </div>
                        {% if vpp == 'true' %}
                        <div class="large-4 medium-4 small-12 columns margintop20-small vse-vpp">
                            <label>Vehicles per page: 
                            <select name="vehicles_per_page" class="vehicles_per_page">
                                <option value="24">24</option>
                                <option value="36">36</option>
                                <option value="-1">All</option>
                            </select></label>
                        </div>
                        {% endif %}
                        {% if vlg == 'true' %}
                        <div class="large-2 medium-3 small-12 columns margintop20-small vse-view-container text-right">
                            <label>View as: </label>
                            <a href="javascript:void(0);" class="list-icon view-control"><i class="fa fa-list-ul"></i></a>
                            <a href="javascript:void(0);" class="grid-icon view-control"><i class="fa fa-th active"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                
                <!-- ============= sorting for mobile only =================== -->
                
                <div class="show-for-small-only">
                    <h3 class="result-show semibold">Showing All Results</h3>
                    <form>
                        <div class="row">
                            <div class="small-6 columns text-right">
                                <label class="inline">Sort by: </label>
                            </div>
                            <div class="small-6 columns">
                                <select name="sortingdata" class="sortingdata" data-control-type="sort-select" data-control-name="sort" data-control-action="sort">
                                    <option value="" class="defaultset">- Select -</option>
                                    <option value="pricelh">Price (low to high)</option>
                                    <option value="pricehl">Price (high to low)</option>
                                    <option value="yrl">Year (low to high)</option>
                                    <option value="yrh">Year (high to low)</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    {% if vpp == 'true' %}
                    <div class="row">
                        <div class="small-6 columns text-right">
                            <label class="inline">Vehicles per page: </label>
                        </div>
                        <div class="small-6 columns">
                            <select name="vehicles_per_page" class="vehicles_per_page">
                                <option value="24">24</option>
                                <option value="36">36</option>
                                <option value="-1">All</option>
                            </select>
                        </div>
                    </div>{% endif %}
                    {% if vlg == 'true' %}
                    <div class="row">
                        <div class="small-6 columns text-right">
                            <label class="inline">View as: </label>
                        </div>
                        <div class="small-6 columns">
                            <a href="javascript:void(0);" class="list-icon view-control"><i class="fa fa-list-ul"></i></a>
                        <a href="javascript:void(0);" class="grid-icon view-control"><i class="fa fa-th active"></i></a>
                        </div>
                    </div>
                    {% endif %}<br>
                </div>                
                
                <!-- ========================== -->
                <!-- End Sorting Section -->
                <!-- ========================== -->
                
                <div class="text-center vse-loader">
                    <div><img src="/_System/Includes/vse-v2/images/vse-loader.gif" alt="loader" width="50"></div>                    
                </div>
                
                <!-- ============================= -->
                <!-- Start Vehicle Listing Section -->
                <!-- ============================= -->
                <div id="vehicles" class="row" style="display:none;">
                    {% assign category = "" -%}
                    {%include "/_System/Includes/vse-v2/vse-main.html"-%}
                </div>
                <!-- ============================= -->
                <!-- End Vehicle Listing Section -->
                <!-- ============================= -->
                
                <!-- pagination -->
                <div class="holder text-center hide"></div>
            </div>
            
        </section>          
    </body>
</html>