{%comment%}{module_json, json="/json/vehicles.json" template="" collection="vehicles"}{%endcomment%}
{module_webapps id="30409" filter="all" template="" collection="vehicles"}
		{% if globals.get.category == "demo,used" -%}
			{% assign category = ""  -%}
		{% elsif globals.get.category == "used" %}
			{% assign category = "used"  -%}
		{% elsif globals.get.category == "demo" %}
			{% assign category = "demo"  -%}
		{% endif -%}

		{% assign makecode = {{globals.get.makecode | convert: "string" | json}} -%}
		{% assign model = {{globals.get.model | convert: "string" | json}} -%}
		{% assign colour = {{globals.get.colour | convert: "string" | json}} -%}
		{% assign fromprice = {{globals.get.fromprice | convert: "string" | json}} -%}
		{% assign toprice = {{globals.get.toprice | convert: "string" | json}} -%}
		{% assign transmission = {{globals.get.transmission | convert: "string" | json}} -%}
		{% assign fueltype = {{globals.get.fueltype | convert: "string" | json}} -%}
		{% assign body = {{globals.get.body | convert: "string" | json}} -%}
		{% assign stocknumber = {{globals.get.stocknumber | convert: "string" | json}} -%}
		{% assign sortby = {{globals.get.sortby | convert: "string" | json}} -%}
		{% assign year = {{globals.get.year | convert: "string" | json}} -%}
		
		{% if category == "null" -%} {% assign category = "n/a" -%} {% endif -%}
		{% if status == "null" -%} {% assign status = "n/a" -%} {% endif -%}
		{% if makecode == "null" -%} {% assign makecode = "n/a" -%} {% endif -%}
		{% if model == "null" -%} {% assign model = "n/a" -%} {% endif -%}
		{% if colour == "null" -%} {% assign colour = "n/a" -%} {% endif -%}
		{% if fromprice == "null" -%} {% assign fromprice = "n/a" -%} {% endif -%}
		{% if toprice == "null" -%} {% assign toprice = "n/a" -%} {% endif -%}
		{% if transmission == "null" -%} {% assign transmission = "n/a" -%} {% endif -%}
		{% if fueltype == "null" -%} {% assign fueltype = "n/a" -%} {% endif -%}
		{% if body == "null" -%} {% assign body = "n/a" -%} {% endif -%}
		{% if stocknumber == "null" -%} {% assign stocknumber = "n/a" -%} {% endif -%}
		{% if sortby == "null" -%} {% assign sortby = "n/a" -%} {% endif -%}
		{% if year == "null" -%} {% assign year = "n/a" -%} {% endif -%}
		  
		{% if category == "" -%} {% assign category = "n/a" -%}{% endif -%}
		{% if status == "" -%} {% assign status = "n/a" -%}{% endif -%}
		{% if makecode == "" -%} {% assign makecode = "n/a" -%} {% endif -%}
		{% if model == "" -%} {% assign model = "n/a" -%} {% endif -%}
		{% if colour == "" -%} {% assign colour = "n/a" -%} {% endif -%}
		{% if fromprice == "" -%} {% assign fromprice = "n/a" -%} {% endif -%}
		{% if toprice == "" -%} {% assign toprice = "n/a" -%} {% endif -%}
		{% if transmission == "" -%} {% assign transmission = "n/a" -%} {% endif -%}
		{% if fueltype == "" -%} {% assign fueltype = "n/a" -%} {% endif -%}
		{% if body == "" -%} {% assign body = "n/a" -%} {% endif -%}
		{% if stocknumber == "" -%} {% assign stocknumber = "n/a" -%} {% endif -%}
		{% if sortby == "" -%} {% assign sortby = "n/a" -%}{% endif -%}
		{% if year == "" -%} {% assign year = "n/a" -%}{% endif -%}
		
		
		{% assign xprice = {{x.Price}} -%}
		{% assign numfromprice = -1 -%}
		{% assign numtoprice = -1 -%}
		
		{% if fromprice == "n/a" -%} 
			{% assign numfromprice = 0 -%}
		{% else -%}
			{% assign numfromprice = {{globals.get.fromprice | convert: "number" | json}} -%}
		{% endif -%}
		
		{% if toprice == "n/a" -%}
			{% assign numtoprice = 9999999 -%}
		{% else -%} 
			{% assign numtoprice = {{globals.get.toprice | convert: "number" | json}} -%}
		{% endif -%}
		
		{%comment-%} MAKECODE {%endcomment-%}
		{%comment-%} MODEL {%endcomment-%}
		{%comment-%} COLOUR {%endcomment-%}
		{%comment-%} TRANSMISSION {%endcomment-%}	
		{% comment -%} FUEL {% endcomment -%}
		{% comment -%} BODY {% endcomment -%}
		
		<script type="text/javascript">
            var global_category = "{{globals.get.category}}";
			var global_stocknumber = "{{globals.get.stocknumber}}";
			var global_makecode = "{{globals.get.makecode}}";
			var global_model = "{{globals.get.model}}";
			var global_colour = "{{globals.get.colour}}";
			var global_transmission = "{{globals.get.transmission}}";
			var global_fuel = "{{globals.get.fueltype}}";
			var global_body = "{{globals.get.body}}";
			var global_fromprice = {{numfromprice}};
			var global_toprice = {{numtoprice}};
			var global_year = "{{globals.get.year}}";
			var global_sortby = "{{globals.get.sortby}}";
			
            var iscategory = $.trim(global_category)==""?false:true;
			var ismakecode = $.trim(global_makecode)==""?false:true;
			var ismodel = $.trim(global_model)==""?false:true;
			var iscolour = $.trim(global_colour) ==""?false:true;
			var istransmission = $.trim(global_transmission)==""?false:true;
			var isfueltype = $.trim(global_fuel)==""?false:true;
			var isbody = $.trim(global_body)==""?false:true;
			var issortby = $.trim(global_sortby)==""?false:true; 
			var isstocknumber = $.trim(global_stocknumber)==""?false:true; 
			var isyear = $.trim(global_year)==""?false:true;
			var issortby = $.trim(global_sortby)==""?false:true; 
		</script>

	{module_json,json="/_System/apps/cbo-wvw-vehicle-search-engine/_config/vse.json" collection="settings"}
		
		{% assign ctr = 0 -%}
			
			{% for x in vehicles.items -%}
				{% assign ctrx = 1 -%}
				
				{% comment -%} CATEGORY {% endcomment -%}
				{% assign xcategory = {{x.Category | downcase}} -%}
				{% assign ycategory = {{category|downcase}} -%}
				{% if ycategory != "n/a" -%}
					{% if xcategory == ycategory -%} 
						{% assign ctrx = 1 -%}
					{% else -%}
						{% assign ctrx = 0 -%}
					{% endif -%}
				{% endif -%}
				
				{%comment-%} STATUS {%endcomment-%}
				{% assign xstatus = {{x.Status | downcase}} -%}
				{% assign ystatus = {{status|downcase}} -%}
				{% if ctrx == 1 -%} 
					{% if ystatus != "n/a" -%}
						{% if xstatus == ystatus -%} 
							{% assign ctrx = 1 -%}
						{% else -%}
							{% assign ctrx = 0 -%}
						{% endif -%}
					{% endif -%}
				{% endif -%}


				{%comment-%} If price option from settings is enabled {%endcomment-%}
				{% if {{settings.price_not_empty}} == 'true' -%} 
                    {% if ctrx == 1 -%} 
						{% if driveawayprice > 0 -%}
							{% assign priceval = {{x.DriveAwayPrice}} -%}
						{% else %}
							{% assign priceval = {{x.Price}} -%}
						{% endif -%}

                        {% if priceval > 0 -%} 
							{% assign ctrx = 1 -%}
						{% else -%}
							{% assign ctrx = 0 -%}
						{% endif -%}
                    {% endif -%}
				{% endif -%}

				{%comment-%} If photo option from settings is enabled {%endcomment-%}
				{% if {{settings.photo_not_empty}} == 'true' -%} 
                    {% if ctrx == 1 -%} 
						{% if {{x.PrimaryImage}} != '' -%} 
							{% assign ctrx = 1 -%}
						{% else -%}
							{% assign ctrx = 0 -%}
						{% endif -%}
                    {% endif -%}
				{% endif -%}

				
				{% comment -%} STOCK NUMBER {% endcomment -%}
				{% assign xstocknumber = {{x.StockNumber|downcase}} -%}
				{% assign ystocknumber = {{stocknumber|downcase}} -%}
				{% assign strstocknumber = {{xstocknumber|convert:"string"|json}} -%}
				{% if ctrx == 1 -%}
					{% if ystocknumber != "n/a" -%}
						{% if stocknumber contains xstocknumber -%}
							{% assign ctrx = 1 -%}  
						{% else -%} 
							{% assign ctrx = 0 -%}
						{% endif -%}
					{% endif -%}
				{% endif -%}
				
				{% if ctrx > 0 -%} 
					{%include "/_System/Includes/vse-v2/vse-body-layout.tpl"-%}
				{% endif -%}
			{% endfor -%}
{% if {{settings.enable_pagination}} == 'true' %}
<script type="text/javascript" src="/_System/Includes/vse-v2/js/jPages.min.js"></script>
{% endif %}
<script type="text/javascript" src="/_System/Includes/vse-v2/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="/_System/Includes/vse-v2/js/search_filter.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        initSequencialReading();
        initOtherStuff();
        {% if {{settings.enable_pagination}} == 'true' %}initPagination();{% endif %}
    	setSearchParamCookie();
    });
    
    function initSequencialReading() {
        //console.log('initSequencialReading...');
        var tasks = [];
        tasks.push(initFilterSearch('.vse-item'));
        tasks.push(initSorting());
        tasks.push(initLazyLoad());
        new TaskList(tasks, function() {
            //console.log("Sequencial reading complete!");
            $('.vse-loader').hide();
            $('#vehicles').fadeIn("slow");
        }).doTasks();
        removeEmpty();
    }
    
    window.addEventListener("orientationchange", function() {
        location.reload();
    }, false);
    
    function initFilterSearch(_listitem) {
        //console.log("Initialising filters...");
        return function(endOfTaskCallback) {
            filterSearch(_listitem);
            endOfTaskCallback();
        }
    }
    
    function initStockImage() {
        return function(endOfTaskCallback) {
            $('.vse-item img').each(function() {
                if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                    this.src = '/_System/Includes/vse-v2/images/vse-placeholder.jpg';
                }
            });
            endOfTaskCallback();
        }
    }
    
    function initLazyLoad() {
        //console.log("Initialising lazy load...");
        return function(endOfTaskCallback) {
            $(".vse-image").lazyload({
                effect: "fadeIn",
                skip_invisible: false
            });
            endOfTaskCallback();
        }
    }
    
    function initPaginationAndSorting() {
        //console.log("Initialising onload pagination and sorting...");
        return function(endOfTaskCallback) {
            $('.vse-item').sort(function(a, b) {
                return $(b).data('price') - $(a).data('price');
            }).each(function(_, container) {
                $(container).parent().append(container);
            });
            endOfTaskCallback();
        }
    }
    
    function initOtherStuff() {
        //console.log("Initialising other stuff...");
        // add comma
        $.fn.digits = function() {
            return this.each(function() {
                $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
            });
        }
        $.fn.digits();
        $(".comma, .vse-price").digits();
    }
    
    function setSearchParamCookie(){
        var url = window.location.search;
        if(url != ''){localStorage.setItem('search_param', url);}else{localStorage.setItem('search_param', '');}         
    }
    
    function initSorting() {
        return function(endOfTaskCallback) {
            $('select[name="sortingdata"]').on('change', function() {
                var selected = $(this).find('option:selected').val();
                switch (selected) {
                    case 'pricelh':
                        $('.vse-item').sort(function(a, b) {
                            return $(a).data('price') - $(b).data('price');
                        }).each(function(_, container) {
                            $(container).parent().append(container);
                        });
                        break;
                    case 'pricehl':
                        $('.vse-item').sort(function(a, b) {
                            return $(b).data('price') - $(a).data('price');
                        }).each(function(_, container) {
                            $(container).parent().append(container);
                        });
                        break;
                    case 'yrl':
                        $('.vse-item').sort(function(a, b) {
                            return $(a).data('year') - $(b).data('year');
                        }).each(function(_, container) {
                            $(container).parent().append(container);
                        });
                        break;
                    case 'yrh':
                        $('.vse-item').sort(function(a, b) {
                            return $(b).data('year') - $(a).data('year');
                        }).each(function(_, container) {
                            $(container).parent().append(container);
                        });
                        break;
                }
                $("div.holder").jPages("destroy").jPages({
                    containerID: "vehicles",
                    perPage: 24,
                    previous: "",
                    next: "",
                    minHeight: false
                });
            });
            endOfTaskCallback();
        }
    }
    
    function initPagination() {
        //console.log("Initialising pagination...");
        $("div.holder").jPages({
            containerID: "vehicles",
            perPage: 24,
            previous: "",
            next: "",
            minHeight: false
        });
    }
    
    function TaskList(tasks, endOfTasksCallback) {
        this.doTasks = function() {
            var numTasks = tasks.length;
            
            function singleTaskCallback() {
                if (--numTasks == 0) {
                    endOfTasksCallback();
                }
            }
            for (var i = 0; i < tasks.length; i++) {
                tasks[i](singleTaskCallback);
            }
        }
    }
    
    /****** custom scripts ***********/   
    
    function removeEmpty() {
        $('ul.specs').each(function() {
            $(this).find('li div:empty').closest('li').remove();
        });
    }
</script>