@charset "utf-8";
/* CSS Document */
h2.vse-header{
  font-size:24px;   
  margin-top:0;
}
.no-padding{padding:0;}

/* Base for label styling */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
/* checkbox aspect */

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)
}
/* checked mark aspect */

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 5px;
  left: 3px;
  font-size: 15px;
  line-height: 0.8;
  color: #000;
  transition: all .2s;
}
/* checked mark aspect changes */

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}
/* hover style just for information */

label:hover:before {
  border: 1px solid #eee!important;
}
.expand-btn{width:100%;}
.vse-controls{margin-bottom:15px;}

.chosen-container-multi .chosen-choices{
    font-size:13px;
}

#search_form .chosen-results li, #search_form input, #search_form span, #search_form select {
    font-size: 13px;
}
.vse-controls a{font-size:13px;}
[type="checkbox"]:checked + label[for="demo"]{margin-left:0;}
input[type="checkbox"]+label, input[type="radio"]+label, .chosen-container {
    margin: 0 0 1rem 0;
}
.chosen-results li, .chosen-container-multi .chosen-choices li.search-choice span, #search_form select {
    text-transform: capitalize;
}
#stocknumber_chosen .chosen-results li, #stocknumber_chosen .chosen-choices li.search-choice span, #search_form select.vse-stocknumber{
  text-transform:uppercase;   
}


/********
** Vehicle Listing
*********/
.vse-item.grid{width:33.333%;margin-bottom:30px;}
.vse-item.grid .vse-image-container, .vse-item.grid .vse-main-details, .vse-item.grid .vse-specs{width:100%;}
.vse-item.grid .vse-main-details{padding:0;margin-top:15px;}
.vse-item.grid .vse-divider, .vse-item.grid .vse-list-divider{display:none;}
.vse-item.grid .vse-details2-container{/*min-height:210px;*/text-align:right;margin-bottom:20px;padding:0 0.9375em;}
.vse-item.grid .vse-full-border{border: 1px solid #eee;}
.vse-item.grid .vse-image{}
/*.vse-item.grid .vse-details2-container.wp-enable{min-height: 265px;}*/
.vse-item.grid .vse-details1-container{padding:0 0.9375em;}
.vse-item.list .vse-details2-container, .vse-item.list .vse-details1-container{height:auto!important;}

.vse-item .no-padding-right{padding-right:0;}
.vse-divider{margin: 2rem 0;}
.vse-item.columns:last-child{float:left;}
.vse-full-border.row{margin:0;}
.vse-image-container a{display:block;}
.vse-item.list .vse-image-container{height:auto!important;}
.vse-image{width:100%;}
.vse-button-container{}
a.vse-button1{
  display:block;
    padding:0.5rem;
    background-color: #2ba6cb;
    color:#FFF;
}
a.vse-button1:hover, a.vse-button1:focus{color:#FFF;background-color: #2285a2;}
.vse-details1-container{padding-top:15px;}
.vse-vehiclename{font-size: 14px;}
.vse-modeldescription{font-size:11px;}
.vse-item hr{border-color:#eee;}
.vse-other-details{font-size:12px;}
.vse-bold{font-weight:bold;}
.fa-star.yellow{color: #f7bc1d;}
.vse-highlight {
    margin-bottom: 10px;
    font-size:14px;
}
.vse-datavalue {word-break: break-word;}


/********
** Pagination
*********/
.holder{padding:15px;}
.holder a{
    margin: 0 3px;
    padding: 7px 11px;
    color: #222222;
    font-size:14px;
}
a.jp-current {
    color:#FFF;
    background: #2ba6cb;
}

/********
** Sorting options
*********/
.vse-view-container .list-icon i, .vse-view-container .grid-icon i{color:#ECECEC;font-size:24px;vertical-align:middle;}
.vse-view-container .list-icon i.active, .vse-view-container .grid-icon i.active{color:#2ba6cb!important;}
.v1 .vse-num-results{margin-bottom:15px;}

/********
** Back to top button
*******/
.cd-top {
    display: inline-block;
    padding: 10px 15px 11px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    white-space: nowrap;
    background: #2ba6cb;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    color:#FFF;
    z-index: 999;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.no-touch .cd-top:hover, .cd-top.cd-fade-out:focus, .cd-top:hover {
    background-color: #2285a2;
    opacity: 1;
}

/********
** Custom Media Queries
********/
@media only screen and (min-width:48.063em){
    /*.vse-item.grid .vse-details1-container{min-height:82px;}*/
    .cd-top {right: 20px;bottom: 20px;}
}
@media only screen and (min-width:64.063em){
    /*.vse-item.grid .vse-details1-container{min-height:97px;} */  
    .cd-top {right: 30px;bottom: 30px;}
}
@media only screen and (min-width:40.063em) and (max-width:64em){
    /*.vse-item.grid .vse-details1-container{min-height:105px;} */  
  .vse-item.grid .vse-image-container{height:205px;overflow-y:hidden;}    
}
@media only screen and (max-width:64em){
    .vse-num-results{margin-bottom:15px;}
    .vse-item.grid{width:50%;}
    .vse-item .no-padding-right{padding:0;}
}
@media only screen and (max-width:48em){
    
}
@media only screen and (max-width:40em){
    .vse-item.grid .vse-details2-container.wp-enable{
        min-height:initial;
    }   
    .vse-item.grid{width:100%;}
}